body {
  text-align: center;
  font-family: 'helvetica neue'
}

.main {
  position: relative;
  margin: 100px;
}

.name {
  position: absolute;
  left: 25%;
  top: 10px;
  font-size: 18px;
  font-weight: 200;
  color: #cecece;
  transition: all 0.5s ease;
  pointer-events: none;
}

input[type=text]:focus~.name {
  display: block;
  color: black;
  top: -20px;
  font-size: 14px;
}

input[type=text]:focus~.enter {
  background-color: #0F1F7A;
  position: absolute;
  content: ' ';
  height: 1px;
  right: 45%;
  top: 42px;
  transform: scaleX(5)
}

.enter {
  transition: all ease 0.5s;
  width: 10.1%;
  transform: scaleX(1)
}

textarea,
input {
  outline: none;
  border: 0;
  border-bottom: 1px solid #cecece;
  height: 40px;
  width: 50%;
}

.button8 {
  display: inline-block;
  padding: 0.2em 1.45em;
  margin: 0.1em;
  border: 0.15em solid #CCCCCC;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #CCCCCC;
  text-align: center;
  position: relative;
}

.button8:hover {
  border-color: #7a7a7a;
}

.button8:active {
  background-color: #999999;
}

@media all and (max-width:30em) {
  .button8 {
    display: block;
    margin: 0.2em auto;
  }
}

a {
  color: #00B7FF;
}

#scripture {
  width: 500px;
  left: 450px;
  font-size: 20px;
  font-style: italic;
  position: relative;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
}

@-webkit-keyframes example {
  0% {
    left: 0px;
  }
  25% {
    left: 100px;
  }
  50% {
    left: 200px;
    top: 0px;
  }
  75% {
    left: 300px;
  }
  100% {
    left: 400px;
    top: 0px;
  }
}
